
TheCastle0fDogTemple/\.vs/

TheCastle0fDogTemple/Library/metadata/

TheCastle0fDogTemple/Library/ScriptAssemblies/

TheCastle0fDogTemple/Library/ShaderCache/

TheCastle0fDogTemple/obj/

TheCastle0fDogTemple/Temp/

*.log

TheCastle0fDogTemple/Assets/Scripts/Trigger\.cs\.meta

TheCastle0fDogTemple/Assets/Scripts/TriggerTarget\.cs\.meta
